<lasso-page package-path="./browser.json" />
<!DOCTYPE html>
<html lang="en" marko-preserve-whitespace>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <lasso-head/>
</head>
<body>
    <monitor/>
    <lasso-body/>
    <init-widgets immediate/>
</body>
</html>
